PORT=10000

DATABASE_URL=postgresql://neondb_owner:npg_zAr3pJNm2IlL@ep-purple-darkness-ad97b3jv-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=supersecretjwtkey
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_EXPIRES=7d

BCRYPT_SALT_ROUNDS=10
